doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/style.css")
        title #{api.version} API Documentation
    body
        h1 #{api.version} API Documentation
        p
            | This is the documentation for the #{api.version} API.
            | You can find the source code for this API 
            a(href="https://www.github.com/mart1d4/unthrust-api") here